/* Footer */

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff5f6;

  // @media screen and (max-width: $desktop) {
  //   text-align: center;
  // }
}

.footer-container {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-right: 66px;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}

.footer-slogan {
  display: block;
  margin-top: 17px;
  margin-bottom: 43px;
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.socials-list {
  outline: 1px solid red;
}

.footer__socials-list {
  display: flex;
  justify-content: right;
}

.footer__socials-list li:not(:last-child) {
  margin-right: 28px;
  margin-bottom: 46px;
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #fea5bb;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__socials-icon {
  fill: #ffffff;
}

.footer__tel {
  display: flex;
  justify-content: right;
}
