/* Button */

.button {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.button.secondary {
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}
